html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


body {
    background-color: #FDFFC2;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    padding: 4rem 0 3rem 0;
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: white;
    display: block;
    border: 3px solid black;
    border-radius: 2rem;
}

#start-btn {
    margin: 2rem auto;
    display: block;
}

#game-area {
    padding: 0 1rem 0 4rem;
   
}

#game-rules {
    padding: 0 1rem 0 4rem;
    width: 30rem;
    
}