/*//Resetting browser defaults//*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/*Font family setting*/
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Indie Flower", cursive;
    font-style: normal;
}

/*//General styles//*/
body {
    background-color: black;
    color: white;
}

h1 {
    font-weight: 800;
    text-align: center;
}

h2 {
    font-weight: 700;
    background-color: white;
    color: #FF7EE2; 
}

h3 {
    font-weight: 600;
}


#color-mode-controls {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
}

button {
    border: none;
    border-radius: 1.6rem;
    box-shadow: 3px 3px 0.4rem rgb(71, 70, 70);
    padding: 1rem 1.4rem;
    margin: 1rem 0;
    font-weight: 600;
}

#light-mode-btn {
    background-color: white;
    color: rgb(29, 29, 29);
}

#dark-mode-btn {
    background-color: rgb(43, 43, 43);
    color: white;
}

#view-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

#view-controls button {
    background-color: #E9FF97;
}


.rating {
    font-weight: 600;
}

.rating-number {
    color: #FF7EE2;
    font-weight: 700;
    font-size: larger;
}

.user-rating-area label {
    font-style: italic;
    font-size: smaller;
    color: #fcd6cd; 
}

.user-rating-area input {
    background-color: #fcd6cd;
    border-radius: 0.3rem;
}

.user-rating-area button {
    background-color: #FFA38F;
}

/*Light Mode CSS code*/

    .game-title-light {
        background-color: black;
        color: #FF7EE2;
    }

/*Dark Mode CSS code (default)*/
    .game-title-dark {
        background-color: white;
    }

    .comment-dark {
        color: white;
    }


/*//Media Queries//*/    
/*Media Query for Mobile*/
@media screen and (max-width: 480px) {
    h1 {
        padding: 2rem 0 0 0 ;
        font-size: 2rem;
    }

    h2 {
        padding: 0.5rem; 
        font-size: 1.2rem;
    }    

    #videogames {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;

    }

    .gamecard {
        display: flex;
        flex-direction: column;
        padding-left: 0.6rem;

    }

    .game-title {
        padding: 0.6rem; 
        width: 100vh;
        font-size: 1.6rem;
    }

    .gamecard img {
        height: 50vh;
        width: 100vh;
    }

    .gamecard-text {
        margin: 1rem 0.5rem;
    }

    .caption {
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 400;
    }

    .comment {
  
        max-width: 25rem;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: justify;

    }

    .my-rating {
        margin: 3rem 0;
    }
    
    .user-rating-area input {
        margin-right: 1rem;
        width: 9rem;
        height: 2rem;
    }


}


/*Media Query for Tablets & Large Phones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
   h1 {
        padding: 2rem 0 0 0 ;
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        padding: 1rem; 
        font-size: 1.8rem;
    }

    #videogames {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;

    }

    .gamecard {
        display: flex;
        flex-direction: column;

    }

    .game-title {
        padding: 0.6rem; 
        width: 100vh;
        font-size: 1.6rem;
    }

    .gamecard img {
        height: 50vh;
        width: 100vh;
    }

    .caption {
        padding: 0.4rem 0.6rem;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 400;
    }

    .comment {
        padding: 0.4rem 0.6rem;        
        max-width: 25rem;
        font-size: 0.9rem;
        font-weight: 400;
        text-align: justify;

    }

    .my-rating {
        margin: 2.3rem 0;
    }
    
    .user-rating-area input {
        margin-right: 1rem;
        width: 12rem;
        height: 2rem;
    }
  
}

/*Media Query for Desktop*/
@media screen and (min-width: 769px){

    h1 {
        font-size: 3.3rem;
    }
    
    h2 {
        padding: 1rem; 
        font-size: 1.8rem;
    }

    #videogames {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gamecard {
        width: 30rem; 
        padding: 0 3rem;
        margin: 3rem 0;
    }

    .gamecard img {
        width: 30rem; 
        height: 20rem;
    }

    .caption {
        padding: 0.4rem 0.6rem;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 400;
    }

    .comment {
        padding: 0.4rem 0.6rem;        
        font-size: 0.9rem;
        font-weight: 400;
        text-align: justify;

    }

    .my-rating {
        margin: 2.3rem 0;
    }
    
    .user-rating-area input {
        margin-right: 1rem;
        width: 12rem;
        height: 2rem;
    }    
}


