/*//Resetting browser defaults//*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/*//General styles//*/
    body {
        background-image: url('../images/background-72250_1280.jpg');;
    }

   h1 {
        font-weight: 800;
    }

    h2 {
        font-weight: 700;
    }

    button {
        border: none;
        border-radius: 1rem;
        background-color: black;
        padding: 1rem;
        margin: 1.2rem auto;
        color: lightgrey;
        text-align:center;
        display:block;
    }

    .Pin {
        box-shadow: 0.3rem 0.3rem 0.7rem rgba(34, 34, 34, 0.85);
    }

    #Pin1 {
        background-color: rgb(202, 191, 191, 0.8);
    }

    #Pin2 {
        background-color: rgb(9, 255, 243, 0.8);
        margin-top: 3.5rem; 
    }

    #Pin3 {
        background-color: rgb(253, 166, 132, 0.8);
        margin-top: 2rem;
    }

    #Pin4 {
        background-color: rgb(81, 61, 10, 0.7);
    }

    #gallery {
        display: flex;
        gap: 1rem;
    }
    
    .Pin img {
        border-radius: 1rem;
    }

    li {
        list-style: none;
    }


/*Font family setting*/
    body {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-size: 1.1rem;
    }

    h1, h2 {
        font-family: "Just Me Again Down Here", cursive;
        font-style: normal;
    }

 
/*//Media Queries//*/    
/*Media Query for Mobile*/
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
}




/*Media Query for Tablets & Large Phones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  
}

/*Media Query for Desktop*/
@media screen and (min-width: 769px){
    main {
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;
        margin: 2rem 3rem;
        text-align: center; 
    }

    h1 {
        padding: 2rem 0;
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    .Pin {
        padding: 2rem;
    }

    .Pin img {
        width: 10rem;
        height: 14rem;
    }

    .Comment {
        font-size: 1rem;
        text-align: justify;
        min-width: 20rem;
    }
}


