html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}


body {
    background-color: #FFF1F1;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 700;
}

h2 {
    margin: 3rem 0 1rem 0;
    font-weight: 700;
    text-transform: capitalize;    
}

canvas {
    background-color: white;
    display: block;
    border: 3px solid black;
    border-radius: 2rem;
}

#start-btn {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    max-width:fit-content;
    background-color: #6F00FF;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}


#game-area {
    padding: 0 1rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-rules {
    padding: 0 1rem 0 4rem;
    width: 30rem;
    
}

#game-rules p {
    padding-top: 0.8rem;
}

/*//Media Queries//*/    
/*Media Query for Mobile*/
@media screen and (max-width: 480px) {
    h1 {
    padding: 2rem 0 1rem 0;
    font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }    

    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

/*Media Query for Tablets & Large Phones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        padding: 3rem 0 2rem 0;
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

/*Media Query for Desk- and Laptops*/

@media screen and (min-width: 769px){
    h1 {
        padding: 4rem 0 3rem 0;
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
